<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
>
    <bean id="client" class="com.calc.client.impl.ClientImpl">
        <constructor-arg value="http://localhost:8080/calc"/>
    </bean>

    <bean id="calculatorService" class="com.calc.client.impl.HttpCalculatorService">
        <constructor-arg ref="client"/>
    </bean>
</beans>